//@import '~bootstrap/scss/bootstrap'

.tbl
    text-align: center
    min-width: 60%
    margin: auto
    //font-size: 1.3rem
    border-collapse: collapse
    //border: 1px solid grey
    thead>tr>th
        //border: 1px solid grey
        padding: 10px
    tbody>tr>th,td
        //border: 1px solid grey
        padding: 10px


.solea
    background-color: #3CB371

.new2
    background-color: #48D1CC

.new1
    background-color: #FFD700

.sigiria
    background-color: #FF6347

.guahira
    background-color: #FFC0CB

.tech
    background-color: #bf5af2

.bata
    background-color: #F5DEB3

ul
    li
        font-size: 1.3rem
    

