@import '~bootstrap/scss/bootstrap'

.tbl
    // text-align: center
    min-width: 60%
    // border: 2px solid gray
    font-size: 1rem
    border-collapse: collapse
    

.solea
    background-color: #3CB371

.new2
    background-color: #48D1CC

.new1
    background-color: #FFD700

.sigiria
    background-color: #FF6347

.guahira
    background-color: #FFC0CB

.tech
    background-color: #bf5af2

.bata
    background-color: #F5DEB3

ul
    li
        font-size: 1.3rem
    

